@model IEnumerable<MovieDatabase.Models.Movie>
    <H1>
        A list of all Actors born in California that are in Action Movies
    </H1>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilmPoster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorBirthState)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                <img src="@Url.Content(item.FilmPoster)" width="100" height="150" alt="Film Poster" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorBirthState)
                </td>
            </tr>
        }
    </table>
