@model IEnumerable<MovieDatabase.Models.Movie>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProducerFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProducerLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorLastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProducerFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProducerLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActorFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActorLastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.FilmID }) |
            @Html.ActionLink("Details", "Details", new { id = item.FilmID }) |
            @Html.ActionLink("Delete", "Delete", new {id=item.FilmID})
        </td>
    </tr>
}

</table>
