@model IEnumerable<MovieDatabase.Models.Movie>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FilmPoster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProducerFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProducerLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmReleased)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmRuntime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmimdbID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorBirthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorBirthCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorBirthState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorBirthCountry)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content(item.FilmPoster)" width="100" height="150" alt="Film Poster" /> 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProducerFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProducerLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmReleased)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmRuntime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmimdbID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActorFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActorLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActorBirthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActorBirthCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActorBirthState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActorBirthCountry)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FilmID}) |
            @Html.ActionLink("Details", "Details", new { id=item.FilmID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FilmID })
        </td>
    </tr>
}

</table>
