<h2>Main Navigation</h2>
<ul>
    <li>@Html.ActionLink("Complete Database list", "Index1", "Movie")</li>
</ul>
<h2>Jerrad Monagan</h2>
<ul>
    <li>@Html.ActionLink("A count of Actors born listed by state ", "JM1", "Movie")</li>
    <li>@Html.ActionLink("All Movies for each Actor ", "JM2All","Movie")</li>
</ul>
<h2>Austin Dolby</h2>
<ul>
    <li>@Html.ActionLink(" A list of all Actors born in California that are in Action Movies", "AD1", "Movie")</li>
    <li>@Html.ActionLink("All Actors that are Born outside of the USA and are in Movies that are rated 75 or Higher ", "AD2", "Movie")</li>
</ul>