<h2>Main Navigation</h2>
<ul>
    <li>@Html.ActionLink("Complete Database list", "Index1", "Movie")</li>
</ul>
<h2>Jerrad Monagan</h2>
<ul>
    <li>@Html.ActionLink("A count of Actors born listed by state ", "JM1", "Movie")</li>
    <li>@Html.ActionLink("All Movies for each Actor ", "JM2All","Movie")</li>
</ul>
<h2>Austin Dolby</h2>
<ul>
    <li>@Html.ActionLink("A count of Actors born listed by state ", "AD1", "Movie")</li>
    <li>@Html.ActionLink("All Movies for each Actor ", "AD2All", "Movie")</li>
</ul>