
@model IEnumerable<MovieDatabase.Models.Movie>

<H1>
  Movies for the Selected Actor
</H1>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FilmPoster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(item.FilmPoster)" width="100" height="150" alt="Film Poster" /> 
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FilmName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorID)
            </td>
            <td>
                @Html.ActionLink("Filter", "JM2", new { id = item.ActorID }) 
        
            </td>
        </tr>
    }

</table>
